body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 500px;
  nav {
    height: 100px;
    background-color: white;
    box-shadow: none;
    .brand-logo {
      max-height: 100%;
      img {
        width: 52px;
      }
    }
    ul {
      height: 100px;
      a {
        color: gray;
      }
    }
  }
}

.header-main-pic {
  width: 100%;
  height: 400px;
  background-image: url("../assests/images/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
