body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  flex-direction: column;
}

header {
  height: 500px;
  nav {
    color: #e3f2fd;
    height: 100px;
    .brand-logo {
      max-height: 100%;
      img {
        width: 52px;
      }
    }
    ul {
      height: 100px;
    }
  }
}

.header-main-pic {
  width: 100%;
  height: 400px;
  background-image: url("../assests/images/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input-field {
  &.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
  }
  & > #search {
    margin-top: 25px;
  }
}
.input-container {
  i {
    margin-top: 45px;
    margin-right: 15px;
  }
}

footer.page-footer {
  height: 80px;
  bottom: 0;
}

/* post page */

.post-pic {
  width: 100%;
  height: 400px;
  background-image: url("https://picsum.photos/1000/400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* registro */

.registro-titulo {
  margin-top: 80px;
}

.registro-header {
  height: 400px;
}
